/**
 * @name BestThemeV2
 * @description My attempt at theme.
 * @author klendite
 * @version 1.3
 * @invite 
 * @website https://github.com/
 * @source https://github.com/
 * @authorId 508863359777505290
 * @authorLink https://www.google.com
*/

/* IMPORTANT: make sure to enable dark mode in discord settings for the theme to apply properly!!! */
@import url('https://refact0r.github.io/midnight-discord/midnight.css');


/* customize things here */
:root {
	/* font, change to 'gg sans' for default discord font */
	--font: 'figtree';

	/* top left corner text */
	--corner-text: 'Adwaita';

	/* color of status indicators and window controls */
	--online-indicator: #a3be8c; /* change to #23a55a for default green */
	--dnd-indicator: #bf616a; /* change to #f13f43 for default red */
	--idle-indicator: #ebcb8b; /* change to #f0b232 for default yellow */
	--streaming-indicator: #b48ead; /* change to #593695 for default purple */

	/* accent colors */
	--accent-1: hsl(179, 25%, 65%); /* links */
	--accent-2: #3584e4; /* general unread/mention elements */
	--accent-3: #3584e4; /* accent buttons */
	--accent-4: hsl(193, 37%, 60%); /* accent buttons when hovered */
	--accent-5: #3584e4; /* accent buttons when clicked */
	--mention: hsla(193, 43%, 51%, 0.1); /* mentions & mention messages */
	--mention-hover: hsla(193, 43%, 51%, 0.05); /* mentions & mention messages when hovered */

	/* text colors */
	--text-0: #2e3440; /* text on colored elements */
	--text-1: #eceff4; /* other normally white text */
	--text-2: #e5e9f0; /* headings and important text */
	--text-3: #eceff4; /* normal text */
	--text-4: #93a4c2; /* icon buttons and channels */
	--text-5: #8490a7; /* muted channels/chats and timestamps */

	/* background and dark colors */
	--bg-1: #383838; /* dark buttons when clicked */
	--bg-2: #242424; /* dark buttons */
	--bg-3: #242424; /* spacing, secondary elements */
	--bg-4: #1E1E1E; /* main background color */
	--hover: hsla(220, 17%, 32%, 0.3); /* buttons when hovered */
	--active: hsla(220, 17%, 32%, 0.5); /* channels and buttons when clicked or selected */
	--message-hover: hsla(0, 0%, 0%, 0.1); /* messages when hovered */

	/* amount of spacing and padding */
	--spacing: 11px;

  /* animations */
  /* ALL ANIMATIONS CAN BE DISABLED WITH REDUCED MOTION IN DISCORD SETTINGS */
  --list-item-transition: 0.2s ease; /* channels/members/settings hover transition */
  --unread-bar-transition: 0.2s ease; /* unread bar moving into view transition */
  --moon-spin-transition: 0.6s ease; /* moon icon spin */
  --icon-spin-transition: 1s ease; /* round icon button spin (settings, emoji, etc.) */

	/* corner roundness (border-radius) */
	--roundness-xl: 14px; /* roundness of big panel outer corners */
	--roundness-l: 20px; /* popout panels */
	--roundness-m: 16px; /* smaller panels, images, embeds */
	--roundness-s: 18px; /* members, settings inputs */
	--roundness-xs: 6px; /* channels, buttons */
	--roundness-xxs: 10px; /* searchbar, small elements */

	/* direct messages moon icon */
	/* change to block to show, none to hide */
	--discord-icon: none; /* discord icon */
	--moon-icon: block; /* moon icon */
	--moon-icon-url: url('https://upload.wikimedia.org/wikipedia/commons/c/c4/Font_Awesome_5_solid_moon.svg'); /* custom icon url */
	--moon-icon-size: auto;

	/* filter uncolorable elements to fit theme */
	/* (just set to none, they're too much work to configure) */
	--login-bg-filter: none; /* login background artwork */
	--green-to-accent-3-filter: none; /* add friend page explore icon */
	--blurple-to-accent-3-filter: none; /* add friend page school icon */
}

/* Some of the window button color changes (Green, Red, Yellow in that order)*/
[class^='winButtonMinMax']:nth-child(3)::after {
    background-color: #61d200 !important;
}

[class^='winButtonClose']::after {
    background-color: #d20000 !important;
}

[class^='winButtonMinMax']:nth-child(4)::after {
    background-color: #ffe200 !important;
}

/* Change Mention Color when pressed */
.mention_edf32f:active {
  opacity: 1;
  background-color: var(--blue-430);
}

/* Custom Stuff/CSS Snippets from Me, and some people in the Vencord Discord */
.top_eba0ba > .containerPadding_eba0ba {
  margin-top: -12px;
}
.bottom_eba0ba > .containerPadding_eba0ba {
  margin-bottom: -12px;
}
.top_eba0ba > .containerPadding_eba0ba {
  margin-top: -12px;
}
.bottom_eba0ba > .containerPadding_eba0ba {
  margin-bottom: -12px;
}
.newMessagesBar_cf58b5 {
	top: -12px;
}
.newMessagesBar_cf58b5 {
	bottom: -12px;
}

/* Fix Overflow when open big profile */
[class*=userPopoutOverlayBackground] {
  max-height: 60vh;
}


/* Make Mod View Normal with no THemes */
.container_f51af4, .userProfileInnerThemedPremiumWithoutBanner_c69a7b, .userProfileInnerThemedWithBanner_c69a7b, div.profileThemedContainer_d2194f {
    background-color: #313338 !important;
    color: white !important;
}

.container_d936aa, .bottomRow_d936aa, .innerContainer_d2194f, .modInfoItem_ce9fb9, .bottomRowActionDisabled_d936aa .innerBottomRowAction_d936aa {
    background-color: #282a2e;
    color: white !important;
}

#app-mount > div.appAsidePanelWrapper_bd26cc > div.notAppAsidePanel_bd26cc > div.app_bd26cc > div > div.layers_d4b6c5.layers_a01fb1 > div > div > div > div > div:nth-child(3) > div > div, #app-mount > div.appAsidePanelWrapper_bd26cc > div.notAppAsidePanel_bd26cc > div.app_bd26cc > div > div.layers_d4b6c5.layers_a01fb1 > div > div > div > div > div.guildSidebar_a7d72e > div > div {
    --custom-theme-mix-text: white !important;
    --profile-gradient-primary-color: #282a2e !important;
    --profile-gradient-secondary-color: #282a2e !important;
}

#app-mount > div.appAsidePanelWrapper_bd26cc > div.notAppAsidePanel_bd26cc > div.app_bd26cc > div > div.layers_d4b6c5.layers_a01fb1 > div > div > div > div > div:nth-child(3) > div > div > div > div > div.container_d936aa > div.topRow_d936aa > div.memberNameContainer_d936aa > div.memberName_d936aa > div > span, .text-sm-normal__95a78, .changeStr_eebd33, .text-sm-medium__726be, .eyebrow_dc00ef, .h5_c46f6a, .label_c46f6a, .legend_c46f6a, .text-sm-semibold_d260b0, .text-xs-medium_d3e0f1, .heading-md-semibold__76ba1, .text-md-medium_a84e09, #app-mount > div.appAsidePanelWrapper_bd26cc > div.notAppAsidePanel_bd26cc > div.app_bd26cc > div > div.layers_d4b6c5.layers_a01fb1 > div > div > div > div > div.guildSidebar_a7d72e > div > div > div > div > div.container_d936aa > div.topRow_d936aa > div.memberNameContainer_d936aa > div.memberName_d936aa > div > span {
    color: white !important;
}

.topRow_d936aa, .bottomRowAction_d936aa, .header_f51af4, .innerContainer_f51af4  {
    background-color: #313338 !important;
    color: #55575b !important;
}

.modInfoItemIcon_ce9fb9 {
    color: #55575b
}



[class*=username_][style] { filter: contrast(.2) brightness(1.2) saturate(500%); }

.withFrame-haYltI {
    height: 16px !important;
}

.containerDefault_f6f816:hover + .container_e1e976, .container_e1e976:hover {
  max-height: 1000px; /* Make the threads Slide down */
  transition: max-height 1s ease; }

.container_e1e976 {
  max-height: 0; /* Initially hide the threads by setting their max-height to 0 */
  overflow: hidden; 
  transition: max-height 0.5s ease; }
  
 
.scroller_f4e139, .scroller_c2b47d,.scroller_e2e187, .scrollbarGhost_c858ce::-webkit-scrollbar-thumb,
.scrollbarGhost_c858ce::-webkit-scrollbar-track,
.scrollerBase_c49869::-webkit-scrollbar-thumb,
.scrollerBase_c49869::-webkit-scrollbar-track,
.scrollerBase_eed6a8::-webkit-scrollbar-thumb,
.scrollerBase_eed6a8::-webkit-scrollbar-track,
.webkit__8d35a::-webkit-scrollbar-thumb, .auto_c49869::-webkit-scrollbar-thumb, .auto_c49869::-webkit-scrollbar-track{
    border-radius: 0;
}

[data-list-id="guildsnav"] > [class^=scroller_] > [aria-label],
[id^=folder-items-]
 { display: flex; flex-direction: column; }
[data-list-id="guildsnav"] > [class^=scroller_] > [aria-label] :is([class^=listItem_],[class^=wrapper_]):has([class^=numberBadge_])
 { order: -1 }
 
  


  /* make midnight theme make discord banners not rounded */

.animatedContainer_fd6364 {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


/* Make background on badges not exist */
.custom-profile-theme .container_b64375 {
  background-color: none;
  background: none;
  border: none;
}

.container_b64375 {
  background-color: none;
  background: none;
  border: none;
}


.members_cbd271.thin_eed6a8 {
    border-radius: 0 0 var(--roundness-xl) var(--roundness-xl);
}



